html{
  font-size: 100%;
}

section{
  padding-top: 120px;
  padding-bottom: 120px;
}

.title{
  font-family: 'Dancing Script', cursive;
  margin-top: 20px;
  font-size: 3rem;
  color: #696969;
}

h1{
  font-size: 3rem;
  color:#7B0E86;
}

footer{
  background-color: #f5f5f5;
}