html{
    font-size: 100%;
}
img{
    width: 100%;
}

.inner{
    max-width: 1280px;
    background-image: url(https://salonia.jp/limited/autumn2023/img/common/bg_body02.jpg);
    background-repeat: repeat;
    margin: 0 auto;
}

.logo{
    width: 274px;
    height: 56px;
    padding-top: 50px;
    padding-left: 50px;
}

.main-visual{
    margin: 80px 0 100px 0;
    text-align: center;
}

.main-visual img{
    width: 500px;
    height: 500px;
}

.main-visual p{
    margin-top: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    color: #696969;
}

.section-title{
    text-align: center;
    margin-bottom: 100px;
    font-size: 4rem;
    color:#7B0E86;
}

.music-item{
    width: 900px;
    margin: 0 auto 100px auto;
}

.summary{
    display: flex; 
    background-color: #fff;
    margin-bottom: 50px;
    padding: 25px 47px;
    border-radius: 30px;
}

.music-img {
    width: 250px;
    height: 250px;
    margin-right: 80px;
}

.heading{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: normal;
}

dl{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

dt{
    width: 30%;
    padding: 5px 0;
}

dd{
    width: 70%;
    padding: 5px 0;
}

.comment{
    background-color: #fff;
    padding: 25px 47px;
    border-radius: 30px;
}

.towel{
    max-width: 1100px;
    margin: 0 auto 100px auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.towel-item{
    margin-top: 50px;
}

.towel-img{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.towel-item p{
    margin-top: 10px;
}

footer{
    background-color: #fff;
    display: flex;
}

.info{
    background-color: #F5F5F5;
    width: calc(100% / 3);
    text-align: center;
    margin: 50px 15px;
    padding: 10px 10px 25px 10px;
    border-radius: 20px;
}

.sns{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

li{
    list-style: none;
    margin: 0 10px 0 10px;
}

a{
    text-decoration: none;
}